<div class="org-chart-editor-menu w3-bar-block">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button" (click)="addPerson()">Add Person</a>
    <a href="#" class="w3-bar-item w3-button" (click)="addLine()">Add Line</a>
    <a href="#" class="w3-bar-item w3-button" (click)="addLabel()">Add Label</a>
</div>