<img *ngIf="person.image" src="/assets/images/{{person.image}}" class="orgc-pic orgc-person-part">
<div class="orgc-person-part">
    <div class="orgc-name">
        {{person.name}}
    </div>
    <div class="orgc-title">
        {{person.position}}
    </div>
</div>

<button style="position: absolute; top: 0px; left: calc(100% + 10px)" (click)="editPerson()">E</button>
<button style="position: absolute; top: 40px; left: calc(100% + 10px)" (click)="deletePerson()">X</button>