<form (ngSubmit)="onSubmit()" [formGroup]="labelCreateForm">
    <div class="w3-row-padding">
        <label>Text</label>
        <input class="w3-input w3-border"
               type="text"
               placeholder="Text"
               formControlName="text"
               required>
    </div>

    <div class="w3-row-padding">
        <div class="w3-half">
            <label>X</label>
            <input class="w3-input w3-border"
                   type="number"
                   min="0"
                   placeholder="X"
                   formControlName="x"
                   required>
        </div>
        <div class="w3-half">
            <label>Y</label>
            <input class="w3-input w3-border"
                   type="number"
                   min="0"
                   placeholder="Y"
                   formControlName="y"
                   required>
        </div>
    </div>

    <div class="w3-row-padding">
        <label>Text size</label>
        <input class="w3-input w3-border"
               type="number"
               min="0"
               placeholder="Text size"
               formControlName="size"
               required>
    </div>

    <div class="w3-row-padding">
        <label>Text style</label>
        <select class="w3-select w3-border"
                name="option"
                formControlName="style"
                required>
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let textStyle of textStyles | toKeyValuePair" [value]="textStyle.key">{{textStyle.value}}</option>
        </select>
    </div>

    <pre>{{labelCreateForm.value | json}}</pre>

    <button type="submit" [disabled]="labelCreateForm.invalid">Save</button>
</form>