<!-- Add Label modal -->
<div dialog id="dialog-add-label" class="dialog" title="Add new label">
   <org-chart-editor-label-create [dialogId]="'dialog-add-label'"
                 [setEditableLabelSubject]="setEditableLabelSubject"
                 (addLabelEvent)="addLabel($event)"
                 (updateLabelEvent)="updateLabel($event)"
                 (closeDialogEvent)="closeDialog($event)">
   </org-chart-editor-label-create>
</div>

<!-- Add Person modal -->
<div dialog id="dialog-add-person" class="dialog" title="Add new person">
    <org-chart-editor-person-create [dialogId]="'dialog-add-person'"
                   [setEditablePersonSubject]="setEditablePersonSubject"
                   (addPersonEvent)="addPerson($event)"
                   (updatePersonEvent)="updatePerson($event)"
                   (closeDialogEvent)="closeDialog('dialog-add-person')">
    </org-chart-editor-person-create>
</div>

<!-- Add Line modal -->
<div dialog id="dialog-add-line" class="dialog" title="Add new line">
    <org-chart-editor-line-create [dialogId]="'dialog-add-line'" (addLineEvent)="addLine($event)" (closeDialogEvent)="closeDialog('dialog-add-line')">
    </org-chart-editor-line-create>
</div>

<org-chart-editor-menu (addPersonEvent)="openDialog('dialog-add-person')"
                       (addLineEvent)="openDialog('dialog-add-line')"
                       (addLabelEvent)="openDialog('dialog-add-label')">
</org-chart-editor-menu>

<div class="org-chart-editor-work-area">
    <org-chart-editor-person
            *ngFor="let person of people"
            class="orgc-person"
            [attr.data-id]="person.id"
            [ngStyle]="{'top.px': person.y, 'left.px': person.x}"
            [person]="person"
            [dialogId]="'dialog-add-person'"
            (editPersonEvent)="editPerson($event)"
            (deletePersonEvent)="deletePerson($event)"
            draggable>
    </org-chart-editor-person>

    <org-chart-editor-label
            *ngFor="let label of labels"
            class="orgc-label"
            [attr.data-id]="label.id"
            [ngStyle]="{'top.px': label.y, 'left.px': label.x}"
            [label]="label"
            [dialogId]="'dialog-add-label'"
            (editLabelEvent)="editLabel($event)"
            (deleteLabelEvent)="deleteLabel($event)"
            draggable>
    </org-chart-editor-label>

    <!--<org-chart-editor-line-->
            <!--*ngFor="let line of lines"-->
            <!--class="orgc-line">-->
    <!--</org-chart-editor-line>-->
</div>