<h1 [ngStyle]="{
        'font-size.px': label.size,
        'font-weight': label.style == 0 ? 'normal' : 'bold'
    }">
    {{label.text}}
</h1>
<button style="position: absolute; top: 0px; left: calc(100% + 10px)" (click)="editLabel()">E</button>
<button style="position: absolute; top: 0px; left: calc(100% + 40px)" (click)="deleteLabel()">X</button>