<form (ngSubmit)="onSubmit()" [formGroup]="personCreateForm">
    <div class="w3-row-padding">
        <div class="w3-half">
            <label>X</label>
            <input class="w3-input w3-border"
                   type="number"
                   min="0"
                   placeholder="X"
                   formControlName="x"
                   required>
        </div>
        <div class="w3-half">
            <label>Y</label>
            <input class="w3-input w3-border"
                   type="number"
                   min="0"
                   placeholder="Y"
                   formControlName="y"
                   required>
        </div>
    </div>

    <div class="w3-row-padding">
        <label>Name</label>
        <input class="w3-input w3-border"
               type="text"
               placeholder="Name"
               formControlName="name"
               required>
    </div>

    <div class="w3-row-padding">
        <label>Position</label>
        <input class="w3-input w3-border"
               type="text"
               placeholder="Position"
               formControlName="position"
               required>
    </div>

    <div class="w3-row-padding">
        <label>Image</label>
        <input class="w3-input w3-border"
               type="text"
               placeholder="Path to image"
               formControlName="image">
    </div>

    <pre>{{personCreateForm.value | json}}</pre>

    <button type="submit" [disabled]="personCreateForm.invalid">Save</button>
</form>