<form (ngSubmit)="onSubmit()" [formGroup]="lineCreateForm">
    <div class="w3-row-padding">
        <div class="w3-half">
            <label>From id</label>
            <input class="w3-input w3-border"
                   type="number"
                   min="0"
                   placeholder="From Id"
                   formControlName="fromId"
                   required>
        </div>
        <div class="w3-half">
            <label>To Id</label>
            <input class="w3-input w3-border"
                   type="number"
                   min="0"
                   placeholder="To Id"
                   formControlName="toId"
                   required>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-half">
            <label>From position</label>
            <select class="w3-select w3-border"
                    name="option"
                    formControlName="fromPos"
                    required>
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let entranceType of entranceTypes | toKeyValuePair" [value]="entranceType.key">{{entranceType.value}}</option>
            </select>
        </div>
        <div class="w3-half">
            <label>To position</label>
            <select class="w3-select w3-border"
                    name="option"
                    formControlName="toPos"
                    required>
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let entranceType of entranceTypes | toKeyValuePair" [value]="entranceType.key">{{entranceType.value}}</option>
            </select>
        </div>
    </div>

    <div class="w3-row-padding">
        <label>Line style</label>
        <select class="w3-select w3-border"
                name="option"
                formControlName="style"
                required>
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let lineStyle of lineStyles | toKeyValuePair" [value]="lineStyle.key">{{lineStyle.value}}</option>
        </select>
    </div>

    <div class="w3-row-padding">
        <label>Color</label>
        <input class="w3-input w3-border"
               type="text"
               placeholder="Color"
               formControlName="lineColor"
               required>
    </div>

    <pre>{{lineCreateForm.value | json}}</pre>

    <button type="submit" [disabled]="lineCreateForm.invalid">Save</button>
</form>